@font-face {
  font-family: "MyFont";
  src: url("fonts/GreaterTheory.otf") format("opentype");
}

body {
}

canvas {
  position: fixed;
  inset: 0;
}

.canvas-shadow {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 500px;
  pointer-events: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 1;
}

/*----------------------------------------------------*/

.page-home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* centers buttons + h1 horizontally */
}

.page-home button {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}
.home-content {
  width: 1200px;
  height: 600px;
  position: absolute;
  left: 50px;
  bottom: 30px;
}

.home-content h1 {
  position: absolute;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  top: 170px;
  font-family: "MyFont", sans-serif;
  margin: 0 auto;
  font-size: 80px;
}
.home-subtitle {
  position: absolute;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  top: 300px;
  font-family: "MyFont", sans-serif;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
}

.home-text {
  position: absolute;

  top: 400px;
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 700;
  margin: 0 auto;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.glass-nav {
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 800px;
  gap: 2.5rem;
  padding: 1.2rem 3rem;
  height: 30px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  align-items: center;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.45);

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35),
    inset 0 1px 1px rgba(255, 255, 255, 0.5);
}

/* inner rail */
.glass-nav::before {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 40px;

  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.6);

  z-index: 0;
}

.glass-nav .btn {
  position: relative;

  z-index: 1;
  font-family: "myfont", system-ui, sans-serif;
  background: none;
  border: none;
  color: #000000;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  margin-bottom: 5px;
}
#rbtn {
  margin-right: 20px;
}

.glass-nav .btn:hover {
  color: #fff;
}

.page-home .home-container p {
  background: linear-gradient(90deg, #0c0909, #443c3c, #161111);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.textDiv {
  display: flex;
  justify-content: space-around;
  width: 850px;

  height: 50px;
  font-family: "myfont";
}
.nav-item {
  display: flex;
  align-items: center;
  
transform: scale(0.8);
font-family: "myfont";
  height: 60px;
  width: 300px;
}


.nav-item .btn {
  width: 50px;
  padding: 0;              /* remove spacing */
  margin: 0;
}

.nav-item {
  margin: 0;       
  transition: transform 0.2s ease;        /* remove default <p> margin */
}




.nav-item:hover{
  transition: transform 0.3s ease;  
  transform: scale(1.05);
}